{% extends "base.html" %}

{%block title%}
Serving Home
{%endblock%}

{% block head%}
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container text-center pt-3 pb-4">
    {% include "toast.html" %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <b>API Data</b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Have Created data in model?</h5>
                    <p>Click below to validate the data</p>
                    <a href="{{ url_for('home_bp.data_view') }}" class="btn btn-primary">Model Data</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <b>Delete Data</b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Want to delete data from database?</h5>
                    <p>Click below to delete</p>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete data</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center font-monospace">Are you sure you want to delete data from general tables?</p>
                                    <p class="text-center font-monospace">This action can not be undone. </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger" id="deletedata" 
                                    data-bs-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary" id="deleteShowDetails">Show Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <b>Create Data</b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Want to create some data?</h5>
                    <p>Click below to create</p>
                    <a href="#" class="btn btn-secondary disabled">Data Insertion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}